.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

div {
  /*border:1px solid red;*/
}

body {
  /*background-image: url("http://billxiong.com/blue/1.jpg");*/
  padding: 0;
  margin-bottom:100px;
  background-color: #fff;
  
  /* main font */
  font-family: "Myriad Set Pro","Helvetica Neue","PT Sans","Helvetica","Arial",sans-serif;
  color: black;


  /*background: url("http://billxiong.com/blue/1.jpg") no-repeat center center fixed; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

p {
  font-weight: 200;
  font-size: 18px;
}

h1 {
  font-weight: 200;
  font-size: 46px;
}

.navbar-toggle {
  border: 0px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 200;
  text-align: center;
}

.body-container{
  margin-top: 50px;
}

.navbar {
  border-radius:0px;
  margin: 0px;
}

.navbar .navbar-nav{
  display: inline-block;
  float:none;
}

.navbar-default {
  color: white;
  background-color: rgba(0,0,0,0.8);
}

/* Making each navbar link more separated */
.navbar-nav > li{
  padding-left:30px;
  padding-right:30px;
  height: 30px;
}

/* navbar links */
.navbar .nav > li > a {
  color: white;
  font-size: 18px;
  font-weight: 100;
  letter-spacing: normal;

  /* For the transition effects on navbar links */
  -o-transition:color .2s ease-out, background 1s ease-in;
  -ms-transition:color .2s ease-out, background 1s ease-in;
  -moz-transition:color .2s ease-out, background 1s ease-in;
  -webkit-transition:color .2s ease-out, background 1s ease-in;
  /* ...and now override with proper CSS property */
  transition:color .2s ease-out, background 1s ease-in;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ccc;
}
.navbar-default .navbar-nav > .active{
  color: #000;
  background: #d65c14;
 }

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
  color: white; 
  background-color: blue !important;
}



/* title */
.navbar-default .navbar-brand {
  display: inline-block;
  float: none;
  color: white;
  font-weight: normal;
  margin-left: 63px;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus{

}

/* Custom page header */
.header {

  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 10px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}


/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

.frontphoto {
  text-align:center; 
  top:55px;     
  right:15px
}

.blog-container {
  position: relative;
  width: 100%;
  height: 1000px;
  padding-top:40px;
  overflow: hidden;
}

.footer {
  position:fixed;
  bottom:0px;
  width:100%;
  color: black;
  background-color: #eee;
  padding-top:0px;
  padding-bottom:0px;
  height: 18px;
  font-size: 12px;
}

.footer > p {
  font-size: 14px;
}


.introduction {

}

.banner {

  background: 
     linear-gradient(
      rgba(0, 0, 0, 0.1), 
      rgba(0, 0, 0, 0.5)
    ),
    url( http://samueln.com/blog/wp-content/themes/cinnamon/images/cinnamon-default-header.jpg ) no-repeat center center;
  text-shadow: 1px 1px #000;
  background-size: cover;
  color: white;
  font-family: "lato", helvetica, arial, sans-serif;
  font-weight: 900;
  padding-top: 40px;
  padding-bottom: 40px;

}

.description-container {
  padding-bottom: 20px;
  text-align:center;
  padding-top:20px;
}

.projects-container{
  max-width: 900px;
}
.projects {
  text-align: center;
}

.project-photo {
  margin-top:20px;
  margin-bottom:20px;
  text-align: center;
 
}

.project-description {
  text-align: center;
}

.catchphrase {
  text-align: center;
}

.catchphrase > h1 {
  font-weight:900;
}

.experience-container {
  margin-top:70px;
  width:90%;
}

.contact-container {
  margin-top:100px;
  text-align:center;
  width:90%;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    width:90%;
  }

  .description-container {
    width:90%;
  }

  .introduction {
    text-align:left;
  }

  .catchphrase {
  padding-top:30px;
  }

  .body-container {
    width:100%;
  }

  .frontphoto {
    text-align:right; 
    top:55px; 
    padding-right:15px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    /*margin-bottom: 30px;*/
  }

  .body{
    /*padding-top: 30px;*/
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }

  .project-photo {
    margin-top:10px;
    margin-bottom:10px;

    text-align: left;
  }

  .project-description {
    text-align: right;
  }


  .catchphrase {
    text-align: left;
  }
}
