<div class="container body-container"> 
	Note: Under construction
	<h1>Experience</h1>
	<p> If you are an employer looking for a prospect, here is a more ellaborated list of my skills. My objective is to become avid at a job in a technlogy related area, for which I can enjoy developing and making the world a better place. </P>

	<h1>beLocal</h1> 
	<p><a href="https://belocalvictoria.me">https://belocalvictoria.me</a></p>
	<p>An opensource non-profit startup developed while studying at UVic</p>
	<ul>
		<li>Worked in a team of five, mainly as a back-end developer and server admin</li> 
		<li>Spinned up and <b>deployed</b> beLocal on <b>AWS</b></li> 
		<li>Utilized Python (Django) to develop a RESTful API</li> 
		<li>Took part in connecting front-end/client with server and database</li> 
		<li>Helped gathering and consolidating requirements and talking to users</li>
	</ul>

	<h1>samueln.com</h1>
	<ul> 
		<li>Earned significant front-end UI and UX experience</li> 
		<li>Utilized <b>Bootstrap</b> to build this website</li> 
		<li>Expanded my knowledge of <b>HTML and CSS</b>, as well as <b>Javascript</b></li> 
		<li>Utilized <b>AngularJS</b> to build samueln.com dynamically </li> 
		<li>Set up a Wordpress server and hooked it up to this website</li> 
	</ul>

	<h2>Relevant Skills </h2>
	<ul>
		<li><b>Unix expertise</b> through utilizing Arch, Ubuntu, Debian, and other distros. I am also comfortable in <b>bash</b> and other types of scripting </li> 
		<li>Programming experience in multiple languages such as <b>Python, Javascript, Java, C++, C#.</b>
			That includes familiarity with object orientation and the principles of functional, as well as logic programming. Learning a new programming language is usually not a problem for me.  </li> 
		<li>Adept with <b>plentyful research skills </b> and ability to <b>resolve problems</b> in software through research, understanding, and knowledge</li> 
		<li>Exposed to <b>full-stack web development</b> through developing for <b><a href="https://belocalvictoria.me">beLocal</a></b> (an open source startup) and various other projects such as this website. My projects can be found on my <b><a href="http://github.com/cakebrewery">GitHub</a></b> page. </li>
		<li>Relational database knowledge through developing with <b>Django</b> and <b>MySQL</b></li> 
		<li>Server container services such as AWS, which I used to deploy beLocal</li>
		<li>I am <b>friendly</b> and <b>confident</b>, as well as <b>professional</b>. I can work really well on a team!</li> 
	</ul>

	<h2>Other technical Skills</h2>
	<ul>
		<li>Photoshop and Adobe Flash experience </li>
		<li>Some experience with assembly programming by developing a cellphone mock-up on an ARM chip </li>
		<li>Fully familiar with Windows OS (that includes knowing how to set up environmental variables, IDE setup, troubleshooting, etc) </li> 
		<li>Confident and fluid with the Unix ecosystem by setting up different versions of Linux and using OS X every day</li> 
		<li>Version control is important to me and I now use Git for all of my projects </li> 
		<li> Office tools such as Word, PowerPoint, etc </li> 
	</ul> 

	<h2> Education </h2>
	<h3> University of Victoria - Victoria, BC</h3>
	<ul>
		<li>Bacherlor's degree in Computer Science</li>
		<li>Courses in compilers, graphics, databases, programming languages, building startups from ground up, networks, social-networks, software engineering (software development methods, agile, design, HCI, etc), cryptography, information security, algorithms, and required statistics and mathematical knowledge commonly found in computer science topics. </li>
	</ul>
	<h3>ICS Uijeongbu - Republic of South Korea </h3>
	<ul>
		<li>American International school diploma </li>
		<li>Public Speaking courses</li> 
		<li>Learned Unix by starting a server for a class </li>



</div> 