<div itemscope itemtype="http://schema.org/Person" class="introduction">

	<div class="container-fluid description-container">
		<div class="row">
			<div class="col-xs-12">
				<h1>Hi there!</h1>
				<p>
					I am a<span itemprop="jobTitle">software developer</span> with a passion for self-improvement and the growth of technology. I studied computer science at <span itemprop="affiliation">University of Victoria</span>, where I had the chance to meet interesting people and enroll in amazing courses. What I got are the skills to learn and implement, and hopefully create a little something special. 
				</p><br>
				<h3> On my Spare Time </p> 
				<p>
					Some other things I enjoy doing are helping others with tech (and programming) problems and playing guitar. I like to compose music. I also like eating delicious meals, but who doesn't? Reading daily news and articles is my thing, thus I try to keep up experimenting with the most promising development tools. 
				</p>
				<p>
					Most recently I have been learning as much as I can about full stack web development, for which I am also implementing this very website.  
				</p>
				</p><br>
				<h3>My Strengths</h3>
				<p>
					Some of my biggest features are avidity in learning and software problem solving. I understand the benefits of good software practices and can work along with others well. 
				</p><br>
				<h3>When I grow up</h3>
				<p>
					I wish to become a Lvl. 90 full stack wizard.. -err, developer.
					I'm confident to keep learning, to develop a brighter future, and become part of something big!
				</p>
			</div>
		</div> 
	</div>

	<div class="container">
		<p><hr></p>
	</div>

	<div class="container-fluid projects-container">
		<div class="projects ">
			<div class ="row">
				<div class="col-xs-12">
					<div style="margin-bottom:20px; text-align:center;">
						<h1> Projects </h1> 
					</div>
				</div>
			</div>

			<div class="row">
				<div class="">
					<div class="col-sm-6 project-photo pull-right">
						<img src="images/belocal.png" style="position:relative; width:70%">
					</div> 

					<div class="col-sm-6 project-description">
						<h2> <a href="https://belocalvictoria.me" target="_blank">beLocal</a></h2> 
						<p> 
							An application developed at University of Victoria that aims to connect local farmers with the community. beLocal was developed by a small team of five.
						</p>
					</div> 
				</div>
			</div>
		</div>
	</div>
</div> 

