<div>
	<div class="container-fluid"> 
		<div class="row">
			<div class="col-sm-4 col-md-3">
				<!--Face picture --> 
				<div class="frontphoto">
					<img src="img/face.png" style="position:relative;width:220px;">
				</div> 
			</div> 
			<div class="col-sm-8 col-md-9">
				<!--Body --> 
				<div style="width:100%">
					<h1>About me</h1>
					<p>
						I am a graduating computer science student with a passion for developing technology. I study at University of Victoria and enjoy learning various computer-related fields like networks, computer architecture, graphics and more. In addition, I have experience with an open-source startup for which I contributed to its back-end server and database. 
					</p>
					<p>
						Some other things I enjoy doing are helping others with tech (and programming) problems and playing guitar. I like to compose music and listen to high fidelity audio. I'm also well aware of the newest software trends through reading articles daily. Most recently I've been learning as much as I can about full stack web development. 
					</p>
					<p>
						Some of my biggest features are avidity in learning and software problem solving. I understand the benefits of good software practices and can work along with others well. 
					</p>
					<p>
						I'm confident to keep learning, developing a brighter future, and become part of something big!
					</p>
				</div>
			</div> 
		</div> 
	</div>
</div>
