<div>
	<div class="container container-fluid body-container"> 
		<div class="row">
			<div class="col-sm-4 col-md-3">
				<!--Face picture --> 
				<div class="frontphoto">
					<img src="img/face.png" style="position:relative;width:220px;">
				</div> 
			</div> 
			<div class="col-sm-8 col-md-9">
				<!--Body --> 
				<div style="width:100%">
					<h1>Welcome to My Website</h1>
					<p>
						I am Samuel Navarrete, a thriving software developer with a passion for self-improvement and the growth of technology. I studied computer science at University of Victoria where I learnt and expanded on various fields like networks, computer architecture, graphics and non-tech fields such as music and other sciences. In addition, I have experience with an open-source startup for which I contributed to its back-end server and database. 
					</p>
					<p>
						Some other things I enjoy doing are helping others with tech (and programming) problems and playing guitar. I like to compose music and listening to high fidelity audio. I'm also well aware of the newest software trends through reading articles daily and experimenting with the most promising development tools. Most recently I have been learning as much as I can about full stack web development, for which I am also implementing this very website.  
					</p>
					<p>
						Some of my biggest features are avidity in learning and software problem solving. I understand the benefits of good software practices and can work along with others well. 
					</p>
					<p>
						I'm confident to keep learning, developing a brighter future, and become part of something big!
					</p>
				</div>
			</div> 
		</div> 
	</div>
</div>
